<div class="filterBlock" style="width: {{ width_percent }}vw;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.min.css" integrity="sha512-wCrId7bUEl7j1H60Jcn4imkkiIYRcoyq5Gcu3bpKAZYBJXHVMmkL4rhtyhelxSFuPMIoQjiVsanrHxcs2euu/w==" crossorigin="anonymous" referrerpolicy=""/>

    <button unicorn:click="hide" style="
    position: absolute;
    top: 10px;
    left: -30px;
    "
    class="hideBtn">
        {{ btnMark }}
    </button>

    <label for="blockType">Блок</label><br>
    <input onfocus="Unicorn.call('filter', 'get_blocks')" list="blockType" class="selectBox" unicorn:model="blockName">
    <datalist id="blockType">
        {% if blocks %}
            {% for key, value in blocks.items %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        {% endif %}
  </datalist>
    <label for="categories_list">Категория</label><br>
    <input onfocus="Unicorn.call('filter', 'get_categories')" list="categories_list" class="selectBox" unicorn:model="categoryName">
    <datalist id="categories_list" >
        {% if categories %}
            {% for name, code in categories.items %}
            <option value="{{ name }}">{{ code }}</option>
            {% endfor %}
        {% endif %}
  </datalist>
    <label for="lawmakers">Принявший орган</label><br>
    <input id="lawmaker" onfocus="Unicorn.call('filter', 'get_authorities')" list="lawmakers" class="selectBox" unicorn:model="authorityName">
    <datalist id="lawmakers" >
        {% if authorities %}
            {% for name, id in authorities.items %}
            <option value="{{ name }}">{{ id }}</option>
            {% endfor %}
        {% endif %}
  </datalist>

    <button unicorn:click="get_docs" class="actionBtn">
        Показать
    </button>

    <button onclick="Unicorn.call('map_yandex', 'setMarker')" class="actionBtn">
        Маркер
    </button>


</div>